.cardContainer {
    border: 1px solid lightgrey;
    display: grid;
    gap: 10px;
    padding: 8px;
    height: 100%;
    background-color: #f8f8f8;
}

.cardProject {
    border: 2px solid lightgray;
    border-radius: 5px;    
    padding: 10px;
    height: 100%;
    background-color: white;
}

.cardFieldContainer {

}

.cardFieldAreaContainer {
    display: grid;
    gap: 15px;    
}

.cardFieldLabel {
    background-color: #eee;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.cardFieldValue {
    padding: 3px;
}

.cardContractorList {
    margin: 0px;
    padding: 0px 15px 0px 15px;
}