.cardContainer {
    border: 1px solid lightgrey;
    display: grid;
    gap: 10px;
    padding: 8px;
    height: 100%;
    background-color: #f8f8f8;
}

.cardItem {
    border: 2px solid lightgray;
    border-radius: 5px;    
    background-color: white;
}

.cardFieldContainer {
    padding: 5px 10px 5px 10px;
    height: 100%;
}

.cardCostField {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cardFieldAreaContainer {
    display: grid;
    gap: 0px 0px;    
}

.projectCardTitleBar {
    background-color: #ccc;
    margin-bottom: 5px;
    padding: 3px 15px 3px 10px;
    display: flex;
    justify-content: space-between;
}

.cardTitle {
    font-weight: 600;
}

.cardRowNum {
    font-weight: 600;
    font-size: 0.8rem;
}

.cardStatusField {
    padding: 5px 9px 5px 9px;
    border-radius: 10px;
    font-size: 0.95rem;
    width: fit-content;
}

.projectCardBody {

}

.cardFieldLabel {
    background-color: #eee;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.cardFieldValue {
    padding: 3px;
}

.cardContractorList {
    margin: 0px;
    padding: 0px 15px 0px 15px;
}

.cardCostbarContainer {
    margin-bottom: 10px;
}